<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Packen</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
	<nav class="bar">
		<div class="search">
			<span class="search__icon"></span>
			<input type="text" placeholder="Search the product">
		</div>
		<span class="message"></span>
	</nav>
	<ul class="barTabs">
		<li class="barTabs__tab">brand</li>
		<li class="barTabs__tab">personal</li>
		<li class="barTabs__tab">shops</li>
		<li class="barTabs__tab">fitting</li>
	</ul>

	<div class="content">
		<ul class="list">
			<li class="list__item">
				<div class="card">
					<div class="card__content">
						<figure class="card__image card__image--circle">
							<img src="" alt="">
						</figure>
						<h4 class="card_title">Elegant</h4>
						<p class="card__text">Star Designer</p>
						<button class="btn btn--color-blue">view</button>
					</div>
				</div>
			</li>
			<li class="list__item">
				<div class="card">
					<div class="card__content">
						<figure class="card__image card__image--circle">
							<img src="" alt="">
						</figure>
						<h4 class="card_title">Marclano</h4>
						<p class="card__text">Classic heritage</p>
						<button class="btn btn--color-blue">view</button>
					</div>
				</div>
			</li>
			<li class="list__item">
				<div class="card">
					<div class="card__content">
						<figure class="card__image card__image--circle">
							<img src="" alt="">
						</figure>
						<h4 class="card_title">Zucalli</h4>
						<p class="card__text">Tile collocation</p>
						<button class="btn btn--color-blue">view</button>
					</div>
				</div>
			</li>
			<li class="list__item">
				<div class="card">
					<div class="card__content">
						<figure class="card__image card__image--circle">
							<img src="" alt="">
						</figure>
						<h4 class="card_title">Performance</h4>
						<p class="card__text">Deliveries</p>
						<button class="btn btn--color-blue">view</button>
					</div>
				</div>
			</li>
		</ul>

		<div class="card">
			<figure class="card__image card__image--full">
				<img src="" alt="">
			</figure>
			<div class="card__content">
				<figure class="card__image card__image--circle">
					<img src="" alt="">
				</figure>
				<h3 class="card__title">Synergla Tech</h3>
				<p class="card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea neque recusandae ducimus? Doloribus eveniet saepe reiciendis cum perspiciatis.</p>
				<div>
					<p>120</p>
					<button class="btn btn--color-blue">like</button>
				</div>
			</div>
		</div>

		<div class="card">
			<figure class="card__image card__image--full">
				<img src="" alt="">
			</figure>
			<div class="card__content">
				<figure class="card__image card__image--circle">
					<img src="" alt="">
				</figure>
				<h3 class="card__title">Synergla Tech</h3>
				<p class="card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea neque recusandae ducimus? Doloribus eveniet saepe reiciendis cum perspiciatis.</p>
				<div>
					<p>120</p>
					<button class="btn btn--color-blue">like</button>
				</div>
			</div>
		</div>
	</div>

	<nav class="navFooter">
		<ul class="navFooter__list">
			<li class="item">
				<span class="item__icon"></span>
				<p class="item__text">Home</p>
			</li>
			<li class="item">
				<span class="item__icon"></span>
				<p class="item__text">Store</p>
			</li>
			<li class="item">
				<span class="item__icon"></span>
				<p class="item__text">Shopcart</p>
			</li>
			<li class="item">
				<span class="item__icon"></span>
				<p class="item__text">My</p>
			</li>
		</ul>
	</nav>

</body>
</html>