<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Packen</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

<body>
	<nav class="navHeader">
		<div class="navHeader__left">
			<span></span>
		</div>
		<h3 class="navHeader__title">Shopping Cart</h3>
		<div class="navHeader__right">
			<span></span>
		</div>
	</nav>

	<div class="content">
		<div class="card">
			<div class="card__content">
				<figure class="card__image card__image--square">
					<img src="" alt="">
				</figure>
				<div class="box">
					<h4 class="card__title">Double tatami mat...</h4>
					<p class="card__Text">White, M</p>
					<div class="box">
						<p>$72.0</p>
						<div class="counter">
							<button class="counter__less">-</button>
							<div class="counter__number">2</div>
							<button class="counter__more">-</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<figure class="card__image card__image--square">
					<img src="" alt="">
				</figure>
				<div class="box">
					<h4 class="card__title">Double tatami mat...</h4>
					<p class="card__Text">White, M</p>
					<div class="box">
						<p>$72.0</p>
						<div class="counter">
							<button class="counter__less">-</button>
							<div class="counter__number">2</div>
							<button class="counter__more">-</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel">
		<h3 class="panel__title">Including</h3>
		<div class="table">
			<div class="table__row">
				<div class="table__col">Double tatami mat..</div>
				<div class="table__col">White, M</div>
				<div class="table__col">$72.00</div>
			</div>
			<div class="table__row">
				<div class="table__col">Nordic cloth chairs</div>
				<div class="table__col">White, S</div>
				<div class="table__col">$120.0</div>
			</div>
			<div class="table__row">
				<div class="table__col">Express charge</div>
				<div class="table__col">COD</div>
				<div class="table__col">$10.00</div>
			</div>
			<div class="table__row">
				<div class="table__col">Total</div>
				<div class="table__col">$202.0</div>
			</div>
		</div>
		<button class="btn btn--color-blue">$202.0 Pay</button>
	</div>

</body>

</html>