<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Packen</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

<body>
	<span></span>
	<figure>
		<img src="" alt="">
	</figure>
	<div class="box">
		<h2 class="title">Marclano</h2>
		<p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque laudantium nisi, delectus impedit provident error repudiandae.</p>
	</div>
	<div class="content">
		<div class="card">
			<figure class="card__image card__image--square">
				<img src="" alt="">
			</figure>
			<h3 class="card__title">Cotton pillow</h3>
			<p class="card__text">Pillow surface is uniform</p>
			<p class="price">$36.0</p>
		</div>
		<div class="card">
			<figure class="card__image card__image--square">
				<img src="" alt="">
			</figure>
			<h3 class="card__title">Cotton pillow</h3>
			<p class="card__text">Pillow surface is uniform</p>
			<p class="price">$36.0</p>
		</div>
		<div class="card">
			<figure class="card__image card__image--square">
				<img src="" alt="">
			</figure>
			<h3 class="card__title">Cotton pillow</h3>
			<p class="card__text">Pillow surface is uniform</p>
			<p class="price">$36.0</p>
		</div>
		<div class="card">
			<figure class="card__image card__image--square">
				<img src="" alt="">
			</figure>
			<h3 class="card__title">Cotton pillow</h3>
			<p class="card__text">Pillow surface is uniform</p>
			<p class="price">$36.0</p>
		</div>
	</div>

</body>

</html>