<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="./assets/css/normalize.css">
	<link rel="stylesheet" href="./assets/css/index.css">
	<title>My Page - Detail products</title>
	<meta name="keywords" content="house products, home products, buy products home">
	<meta property="og:title" content="My page product detail" />
	<meta property="og:site_name" content="My page product detail">
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Encuentra lo ultimo en productos para tu hogar." />
	<meta property="og:url" content="http://www.mypage.co/" />
	<meta property="og:image" content="http://mypage.com/assets/images/products.png" />
	<meta name="twitter:title" content="Store my page">
	<meta name="twitter:image" content="http://mypage.com/assets/images/twitter.png">
	<meta name="twitter:url" content="http://mypage.com/">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="Encuentra lo ultimo en productos para tu hogar.">
</head>

<body class="detail">
	<span class="arrow">
		<i class="fas fa-angle-left"></i>
	</span>
	<div class="imageTop"></div>
	<div class="box">
		<h2 class="title">Marclano</h2>
		<p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium nisi, medi ever revisious delectus impedit provident, nisi, delectus impedit provident.</p>
	</div>
	<div class="content">
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform reference.</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform reference.</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform reference.</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform reference.</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform reference.</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<div class="card__image card__image--square"></div>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
	</div>

</body>

</html>