<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Packen</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="./assets/css/normalize.css">
	<link rel="stylesheet" href="./assets/css/index.css">
</head>

<body class="detail">
	<span class="arrow">
		<i class="fas fa-angle-left"></i>
	</span>
	<div class="imageTop"></div>
	<div class="box">
		<h2 class="title">Marclano</h2>
		<p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium nisi, medi ever revisious delectus impedit provident, nisi, delectus impedit provident.</p>
	</div>
	<div class="content">
		<div class="card">
			<div class="card__content">
				<figure class="card__image card__image--square">
					<img src="./assets/images/image4-250x250.jpg" alt="">
				</figure>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<figure class="card__image card__image--square">
					<img src="./assets/images/image3-250x250.jpg" alt="">
				</figure>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform reference.</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<figure class="card__image card__image--square">
					<img src="./assets/images/image2-250x250.jpg" alt="">
				</figure>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
		<div class="card">
			<div class="card__content">
				<figure class="card__image card__image--square">
					<img src="./assets/images/image1-250x250.jpg" alt="">
				</figure>
				<h3 class="card__title">Cotton pillow</h3>
				<p class="card__text">Pillow surface is uniform</p>
				<p class="price">$36.0</p>
			</div>
		</div>
	</div>

</body>

</html>