@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'variables';

body, html {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	max-width: 2000px;
	margin: 0 auto;
	background: #f5f5fb;
}

* {
	box-sizing: border-box;
}

a,p,ul,ol,img,h1,h2,h3,h4,h5,h6,figure {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1em;
}

img {
	display: block;
}

button {
	border: none;
	outline: none;
}

::placeholder {
  color: $color-blue;;
}

:-ms-input-placeholder {
 color: $color-blue;
}

::-ms-input-placeholder {
 color: $color-blue;
}

%center {
	display: flex;
	align-items: center;
	justify-content: center;
}

%ellipsisOne {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
// display: block;
// max-width: 200px;
%ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
