@import 'reset';
@import 'variables';

.bar {
	padding: 14px 14px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: white;
	.search {
		border-radius: 4px;
		display: flex;
		align-items: center;
		background: #f1f1f1;
		width: calc(100% - 50px);
		overflow: hidden;
		&__input {
			color: $color-blue;
			background: #f1f1f1;
			border: none;
			height: 36px;
			outline: none;
			width: 100%;
		}
		&__icon {
			font-size: 1.3em;
			margin: 0 10px;
			&::before {
				color: $color-blue;
			}
		}
	}
	.message {
		font-size: 2em;
		width: calc(40px);
		text-align: right;
		position: relative;
		cursor: pointer;
		&::before {
			color: $color-blue;
		}
	}
}

.barTabs {
	display: flex;
	justify-content: space-between;
	color: $color-gray;
	padding: 0 14px;
	box-shadow: 0px 3px 5px 0px#eceaea;
	background: white;
	&__tab {
		padding: 10px 5px;
		border-bottom: 2px solid white;
		cursor: pointer;
		transition: .4s;
		@extend %center;
		&:hover, &:focus, &:active, {
			border-bottom: 2px solid $color-blue;
		}
		&--active {
			border-bottom: 2px solid $color-blue;
		}
	}
	@media only screen and (min-width: 600px) {
		justify-content: start;
		&__tab {
			padding: 10px 20px;
		}
	}
}

.btn {
	padding: 4px 15px;
	background: $color-blue;
	color: white;
	border-radius: 25px;
	font-weight: 700;
	box-shadow: 0px 1px 6px 0px rgba(88,109,148,1);
	cursor: pointer;
	transition: .4s;
	&:hover, &:focus, &:active {
		box-shadow: 0px 3px 6px 0px rgba(88,109,148,1);
	}
}

.card {
	box-shadow: -1px 1px 6px 0px rgba(230,230,230,1);
	border: 1px solid #f1f1f1;
	color: $color-gray;
	border-radius: 10px;
	background: white;
	&__content {
		padding: 14px;
		&--flex {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__image {
		margin: 0 auto;
		border: 1px solid #e4e2e2;
		overflow: hidden;
		&--circle {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			overflow: hidden;
			background: #f3f3f3;
		}
		img {
			width: 100%;
		}
	}
	&__title {
		color: $color-blue;
		font-weight: 500;
		@extend %ellipsisOne;
	}
	&__text {
		font-size: .92em;
	}
	&--image-full {
		margin-bottom: 16px;
		> .card__image {
			border-radius: 10px 10px 0 0;
			height: 200px;
			overflow: hidden;
			background-size: cover !important;
		}
	}
}

.content {
	padding: 14px;
	background: #f5f5fb;
}

.counter {
	display: flex;
	align-items: center;
	color: $color-blue;
	&__btn {
		border: 1px solid $color-gray;
		color: #c1c1c1;;
		background: none;
		width: 20px;
		height: 20px;
		font-weight: 700;
		padding: 0;
		font-size: .5em;
	}
	&__number {
		margin: 0 10px;
		font-size: 1.12em;
	}
}

.detail {
	.arrow {
		position: absolute;
		left: 14px;
		top: 14px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: rgba(88, 109, 148, .8);
		color: white;
		font-size: 1.5em;
		@extend %center;
	}
	.imageTop {
		height: 150px;
		background: url('../images/image-full.jpg') 0 -4px no-repeat;
		background-size: cover;
	}
	.box {
		padding: 14px;
		text-align: center;
	}
	.content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.card {
			margin-bottom: 18px;
			width: calc(50% - 7px);
			&__title {
				margin-top: 12px;
				font-size: 1.2em;
			}
			&__text {
				margin: 5px 0 8px;
				@extend %ellipsis;
			}
			.price {
				font-size: 1.2em;
				text-align: left;
			}
		}
	}
}

.navHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: -1px -1px 6px 0px rgba(206,205,205,0.75);
	background: white;
	color: $color-blue;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	i {
		font-size: 1.7em;
	}
	&__left {
		padding: 14px;
	}
	&__right {
		padding: 14px;
	}
	&__title {
		font-weight: 700;
		font-size: 1.4em;
	}
}

.navFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: -1px -1px 6px 0px rgba(206,205,205,0.75);
	background: white;
	color: $color-blue;
	z-index: 2;
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		.item {
			padding: 6px 14px;
			flex-direction: column;
			position: relative;
			cursor: pointer;
			@extend %center;
			transition: .4s;
			&:hover, &:focus, &:active {
				background: $color-blue;
				color: white;
				.state {
					background: $color-blue;
				}
			}
			.state {
				border-radius: 50%;
				top: 0px;
				width: 12px;
				height: 12px;
				right: 12px;
				transition: .4s;
			}
			&__icon {
				font-size: 1.5em;
				margin-bottom: 4px;
			}
			&__text {
				font-size: .92em;
				font-weight: 100;
			}
		}
	}
	@media only screen and (min-width: 600px) {
		top: 0;
		bottom: initial;
		box-shadow: -1px 2px 6px 0px rgba(206, 205, 205, 0.75);
		&__list {
			justify-content: center;
			.item {
				flex-direction: row;
				padding: 10px 20px;
				&__text {
					margin-left: 10px;
				}
			}
		}
	}
}

.price {
	color: $color-yellow;
	text-align: center;
	font-weight: 500;
}

.state {
	background: white;
	width: 15px;
	height: 15px;
	position: absolute;
	color: $color-blue;
	top: -4px;
	right: 0;
	@extend %center;
	div {
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: $color-yellow;
	}
}

.store {
	.list {
		display: flex;
		max-width: 100%;
		overflow-x: scroll;
		width: 100%;
		&__item {
			margin: 0 8px 15px 8px;
			&:first-child {
				margin-left: 0;
			}
		}
		.card {
			width: 140px;
			text-align: center;
			&__image {
				margin-bottom: 15px;
				margin: 0 auto;
			}
			&__title {
				font-size: 1.2em;
				margin-bottom: 2px;
				margin-top: 14px;
			}
			&__text {
				margin-bottom: 15px;
			}
		}
	}
	.card {
		&__image {
			margin: 0;
		}
		&__title {
			font-size: 1.3em;
			margin-bottom: 12px;
		}
		&__content {
			.center {
				width: calc(100% - 60px - 80px);
			}
			.right {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 60px;
				.price {
					font-size: 1.5em;
				}
			}
		}
		&--image-full {
			width: 100%;
			&:nth-child(2) {
				.card__image {
					background: url('../images/image1-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(3) {
				.card__image {
					background: url('../images/image2-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(4) {
				.card__image {
					background: url('../images/image3-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(5) {
				.card__image {
					background: url('../images/image4-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(6) {
				.card__image {
					background: url('../images/image5-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(7) {
				.card__image {
					background: url('../images/image6-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(8) {
				.card__image {
					background: url('../images/image7-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(9) {
				.card__image {
					background: url('../images/image8-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(10) {
				.card__image {
					background: url('../images/image9-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(11) {
				.card__image {
					background: url('../images/image10-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(12) {
				.card__image {
					background: url('../images/image11-600x450.jpg') center no-repeat;
				}
			}
			&:nth-child(13) {
				.card__image {
					background: url('../images/image12-600x450.jpg') center no-repeat;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		flex-flow: row wrap;
		justify-content: space-between;
		margin-bottom: 56px;
	}
	@media only screen and (min-width: 600px) {
		.bar {
			margin-top: 46px;
		}
		.card--image-full {
			width: calc(50% - 7px);
		}
		.card {
			&--image-full {
				&:last-child {
					margin-bottom: 16px;
				}
			}
		}
	}
	@media only screen and (min-width: 1000px) {
		.card--image-full {
			width: calc(33.3% - 7px);
		}
	}
	@media only screen and (min-width: 1400px) {
		.card--image-full {
			width: calc(25% - 7px);
		}
	}
}

.shopping {
	.content {
		margin-top: 52px;
	}
	.card {
		margin-bottom: 18px;
		&:last-child {
			margin-bottom: 0;
		}
		&__content {
			display: flex;
			justify-content: space-between;
		}
		&__image {
			width: 110px;
			height: 110px;
			margin: 0;
		}
		&__title {
			font-size: 1.2em;
			margin-bottom: 4px;
		}
		&__text {
			font-size: 1.12em;
		}
		.box {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: calc(100% - 125px);
			&__top {
			}
			&__bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.price {
					font-size: 1.4em;
				}
			}
		}
	}
	.panel {
		padding: 14px;
		color: $color-blue;
		&__title {
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 12px;
			font-size: 1.13em;
		}
		.table {
			&__row {
				&:last-child {
					.table__col {
						font-weight: 500;
						font-size: 1.2em;
						&:last-child {
							color: $color-yellow;
						}
					}
				}
			}
			&__col {
				&:last-child {
					color: $color-gray;
				}
			}
		}
		&__bottom {
			text-align: center;
			margin: 10px 0;
			button {
				margin: 0 auto;
				width: 170px;
				padding: 8px 16px;
				font-size: 1.2em;
			}
		}
	}
}

.table {
	display: flex;
	flex-wrap: wrap;
	&__row {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&--border-top {
			border-top: 1px solid #c1c1c1;
		}
		&--margin-bottom {
			margin-bottom: 8px;
		}
		&--padding-top {
			padding-top: 8px;
		}
	}
	&__col {
		padding: 8px 0 8px 0;
	}
}

.title {
	color: $color-blue;
	font-size: 1.4em;
	font-weight: 500;
}
.text {
	font-size: .92em;
	color: $color-gray;
}