<nav class="bar">
  <packen-search></packen-search>
  <i class="far fa-comment message">
    <div class="state">
      <div></div>
    </div>
  </i>
</nav>
<ul class="barTabs">
  <li class="barTabs__tab barTabs__tab--active">brand</li>
  <li class="barTabs__tab">personal</li>
  <li class="barTabs__tab">shops</li>
  <li class="barTabs__tab">fitting</li>
</ul>

<div class="content">
  <ul class="list">
    <li class="list__item" *ngFor="let item of listBrand">
      <div class="card">
        <div class="card__content">
          <figure class="card__image card__image--circle">
            <img src="./assets/images/{{item.image}}" alt="{{item.title}}">
          </figure>
          <h4 class="card__title">{{item.title}}</h4>
          <p class="card__text">{{item.text}}</p>
          <button class="btn btn--color-blue" [routerLink]="['/brand/1']">view</button>
        </div>
      </div>
    </li>
  </ul>

  <div class="card card--image-full" *ngFor="let item of listBrandFull">
    <div class="card__image" [ngStyle]="{'background-image': 'url(' + item.fullImage + ')'}"></div>
    <div class="card__content card__content--flex">
      <figure class="card__image card__image--circle">
        <img src="./assets/images/{{item.smallImage}}" alt="">
      </figure>
      <div class="center">
        <h3 class="card__title">{{item.title}}</h3>
        <p class="card__text">{{item.text}}</p>
      </div>
      <div class="right">
        <p class="price">{{item.price}}</p>
        <button class="btn btn--color-blue">like</button>
      </div>
    </div>
  </div>
</div>

<packen-nav-footer></packen-nav-footer>