.list {
	display: flex;
	max-width: 100%;
	overflow-x: scroll;
	width: 100%;
	&__item {
		margin: 0 8px 15px 8px;
		&:first-child {
			margin-left: 0;
		}
	}
	.card {
		width: 140px;
		text-align: center;
		&__image {
			margin-bottom: 15px;
			margin: 0 auto;
		}
		&__title {
			font-size: 1.2em;
			margin-bottom: 2px;
			margin-top: 14px;
		}
		&__text {
			margin-bottom: 15px;
		}
	}
}
.card {
	&__image {
		margin: 0;
	}
	&__title {
		font-size: 1.3em;
		margin-bottom: 12px;
	}
	&__content {
		.center {
			width: calc(100% - 60px - 80px);
		}
		.right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 60px;
			.price {
				font-size: 1.5em;
			}
		}
	}
	&--image-full {
		width: 100%;
		&:nth-child(2) {
			.card__image {
				background: url('../../assets/images/image1-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(3) {
			.card__image {
				background: url('../../assets/images/image2-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(4) {
			.card__image {
				background: url('../../assets/images/image3-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(5) {
			.card__image {
				background: url('../../assets/images/image4-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(6) {
			.card__image {
				background: url('../../assets/images/image5-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(7) {
			.card__image {
				background: url('../../assets/images/image6-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(8) {
			.card__image {
				background: url('../../assets/images/image7-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(9) {
			.card__image {
				background: url('../../assets/images/image8-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(10) {
			.card__image {
				background: url('../../assets/images/image9-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(11) {
			.card__image {
				background: url('../../assets/images/image10-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(12) {
			.card__image {
				background: url('../../assets/images/image11-600x450.jpg') center no-repeat;
			}
		}
		&:nth-child(13) {
			.card__image {
				background: url('../../assets/images/image12-600x450.jpg') center no-repeat;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.content {
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 56px;
}
@media only screen and (min-width: 600px) {
	.bar {
		margin-top: 46px;
	}
	.card--image-full {
		width: calc(50% - 7px);
	}
	.card {
		&--image-full {
			&:last-child {
				margin-bottom: 16px;
			}
		}
	}
}
@media only screen and (min-width: 1000px) {
	.card--image-full {
		width: calc(33.3% - 7px);
	}
}
@media only screen and (min-width: 1400px) {
	.card--image-full {
		width: calc(25% - 7px);
	}
}