<nav class="navFooter">
  <ul class="navFooter__list">
    <li class="item">
      <i class="fas fa-home item__icon"></i>
      <p class="item__text">Home</p>
    </li>
    <li class="item">
      <i class="fas fa-store item__icon"></i>
      <p class="item__text">Store</p>
    </li>
    <li class="item">
      <i class="fas fa-shopping-cart item__icon"></i>
      <p class="item__text">Shopcart</p>
    </li>
    <li class="item">
      <i class="fas fa-user item__icon"></i>
      <p class="item__text">My</p>
      <div class="state">
        <div></div>
      </div>
    </li>
  </ul>
</nav>