@import '../../sass/variables.scss';

.navFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: -1px -1px 6px 0px rgba(206,205,205,0.75);
	background: white;
	color: $color-blue;
	z-index: 2;
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		.item {
			padding: 6px 14px;
			flex-direction: column;
			position: relative;
			cursor: pointer;
			@extend %center;
			outline: none;
			transition: .4s;
			&:hover, &:focus, &:active {
				background: $color-blue;
				color: white;
				.state {
					background: $color-blue;
				}
			}
			&--active {
				background: $color-blue;
				color: white;
				.state {
					background: $color-blue;
				}
			}
			.state {
				border-radius: 50%;
				top: 0px;
				width: 12px;
				height: 12px;
				right: 12px;
				transition: .4s;
			}
			&__icon {
				font-size: 1.5em;
				margin-bottom: 4px;
			}
			&__text {
				font-size: .92em;
				font-weight: 100;
			}
		}
	}
	@media only screen and (min-width: 600px) {
		top: 0;
		bottom: initial;
		box-shadow: -1px 2px 6px 0px rgba(206, 205, 205, 0.75);
		&__list {
			justify-content: center;
			.item {
				flex-direction: row;
				padding: 10px 20px;
				&__text {
					margin-left: 10px;
				}
			}
		}
	}
}